
{% extends 'basetwo.html' %}

{% block title %}
Адмінка
{% endblock %}

{% block body %}
<div class="header">
    <header>
<div class="welcome">
    <h2>Hello admin</h2>
</div>
<nav>    

<div class="ash_users">
    <a href="#snidanok">Сніданок</a>
    <a href="#obid">Обід</a>
    <a href="#vechera">Вечеря</a>
    <a href="#perekys">Перекус</a>
    <a href="/choose" id="adds">Додати страви</a>
</div>
    
</nav>
</header>
</div>


<main>
    <h2 class="zag" id="snidanok">Сніданок</h2>
    <div class="content">
    {% for brs in br %}    
        <div class="breakfast">
            <div class="card-header">
                <h2 class="hd4">{{ brs.title }}</h2>
                <img src="{{ brs.img }}" alt="" width="240" height="220" style="border-radius: 20px;">
                <p>
                   Калорійність - {{ brs.callor }}ккал 1 порція
                </p>
                <a href="/adminca/{{ brs.id }}/del" class="delete">Видалити</a>
            </div>
        </div>
    {% endfor %}    
    </div>

    <h2 class="zag" id="obid">Обід</h2>
    <div class="content">
    {% for lus in lu %}    
        <div class="breakfast">
            <div class="card-header">
                <h2 class="hd4">{{ lus.title }}</h2>
                <img src="{{ lus.img }}" alt="" width="240" height="220" style="border-radius: 20px;">
                <p>
                   Калорійність - {{ lus.callor }}ккал 1 порція
                </p>
                <a href="/adminca/{{ lus.id }}/delete" class="delete">Видалити</a>
            </div>
        </div>
    {% endfor %}    
    </div>

    <h2 class="zag" id="vechera">Вечеря</h2>
    <div class="content">
    {% for dis in di %}    
        <div class="breakfast">
            <div class="card-header">
                <h2 class="hd4">{{ dis.title }}</h2>
                <img src="{{ dis.img }}" alt="" width="240" height="220" style="border-radius: 20px;">
                <p>
                   Калорійність - {{ dis.callor }}ккал 1 порція
                </p>
                <a href="/adminca/{{ dis.id }}/deleted" class="delete">Видалити</a>
            </div>
        </div>
    {% endfor %}    
    </div>

    <h2 class="zag" id="perekys">Перекус</h2>
    <div class="content">
    {% for sns in sn %}    
        <div class="breakfast">
            <div class="card-header">
                <h2 class="hd4">{{ sns.title }}</h2>
                <img src="{{ sns.img }}" alt="" width="240" height="220" style="border-radius: 20px;">
                <p>
                   Калорійність - {{ sns.callor }}ккал 1 порція
                </p>
                <a href="/adminca/{{ sns.id }}/deletes" class="delete">Видалити</a>
            </div>
        </div>
    {% endfor %}    
    </div>
</main>


{% endblock %}